<a href="https://colab.research.google.com/github/Niroth36/Text_Classification_Natural_Language_Processing/blob/main/Text_Classification_Natural_Language_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing libraries

In [8]:
import matplotlib.pyplot as plt
import os
import re
import shutil
import string
import numpy as np
import tensorflow as tf
from tensorflow import keras
import pandas as pd

from keras import layers
from keras import losses
from keras import preprocessing
from tensorflow.keras.layers.experimental.preprocessing import TextVectorization

# Importing dataset

Download the CSV file

In [9]:
url = "https://github.com/Niroth36/Text_Classification_Natural_Language_Processing/blob/main/dataset.csv.gz"
filename = "dataset.csv"

csv_file = tf.keras.utils.get_file(filename, url, extract = True)

Read the CSV file using pandas

In [11]:
df = pd.read_csv(csv_file, error_bad_lines=False)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 27: expected 1 fields, saw 367\nSkipping line 81: expected 1 fields, saw 3\nSkipping line 126: expected 1 fields, saw 3\nSkipping line 190: expected 1 fields, saw 3\nSkipping line 199: expected 1 fields, saw 6\nSkipping line 231: expected 1 fields, saw 4\nSkipping line 244: expected 1 fields, saw 4\nSkipping line 257: expected 1 fields, saw 4\nSkipping line 270: expected 1 fields, saw 4\nSkipping line 283: expected 1 fields, saw 4\nSkipping line 296: expected 1 fields, saw 4\nSkipping line 309: expected 1 fields, saw 4\nSkipping line 322: expected 1 fields, saw 4\nSkipping line 339: expected 1 fields, saw 4\nSkipping line 346: expected 1 fields, saw 4\nSkipping line 355: expected 1 fields, saw 4\nSkipping line 364: expected 1 fields, saw 4\nSkipping line 389: expected 1 fields, saw 4\nSkipping line 396: expected 1 fields, saw 4\nSkipping line 403: expected 1 fields, saw 4\nSkipping line 410: expected 1 fields, saw 4\nSkipping line 423: expected 1 fields, saw 4\nSkipping line 430: expected 1 fields, saw 4\nSkipping line 439: expected 1 fields, saw 4\nSkipping line 452: expected 1 fields, saw 4\nSkipping line 459: expected 1 fields, saw 4\nSkipping line 483: expected 1 fields, saw 4\nSkipping line 497: expected 1 fields, saw 4\nSkipping line 512: expected 1 fields, saw 4\nSkipping line 519: expected 1 fields, saw 4\nSkipping line 526: expected 1 fields, saw 4\nSkipping line 538: expected 1 fields, saw 3\nSkipping line 557: expected 1 fields, saw 2\nSkipping line 756: expected 1 fields, saw 6\nSkipping line 757: expected 1 fields, saw 3\nSkipping line 764: expected 1 fields, saw 6\nSkipping line 765: expected 1 fields, saw 3\nSkipping line 870: expected 1 fields, saw 6\nSkipping line 877: expected 1 fields, saw 6\nSkipping line 886: expected 1 fields, saw 6\nSkipping line 911: expected 1 fields, saw 4\nSkipping line 923: expected 1 fields, saw 4\nSkipping line 935: expected 1 fields, saw 4\nSkipping line 947: expected 1 fields, saw 4\nSkipping line 959: expected 1 fields, saw 4\nSkipping line 971: expected 1 fields, saw 4\nSkipping line 982: expected 1 fields, saw 4\nSkipping line 1068: expected 1 fields, saw 5\nSkipping line 1238: expected 1 fields, saw 2\nSkipping line 1263: expected 1 fields, saw 7\nSkipping line 1304: expected 1 fields, saw 2\nSkipping line 1337: expected 1 fields, saw 2\nSkipping line 1434: expected 1 fields, saw 6\nSkipping line 1444: expected 1 fields, saw 2\nSkipping line 1469: expected 1 fields, saw 2\nSkipping line 1516: expected 1 fields, saw 2\nSkipping line 1524: expected 1 fields, saw 3\nSkipping line 1525: expected 1 fields, saw 3\nSkipping line 1526: expected 1 fields, saw 3\nSkipping line 1527: expected 1 fields, saw 3\nSkipping line 1528: expected 1 fields, saw 3\nSkipping line 1529: expected 1 fields, saw 3\nSkipping line 1530: expected 1 fields, saw 3\nSkipping line 1531: expected 1 fields, saw 3\nSkipping line 1532: expected 1 fields, saw 3\nSkipping line 1533: expected 1 fields, saw 3\nSkipping line 1534: expected 1 fields, saw 3\n'

In [12]:
df.head()

                                     <!DOCTYPE html>
0  <html lang="en" data-color-mode="auto" data-li...
1                                             <head>
2                             <meta charset="utf-8">
3    <link rel="dns-prefetch" href="https://githu...
4    <link rel="dns-prefetch" href="https://avata...